/* パンくずリスト */
.elementBreadcrumb {
  @extend .contentView;
  font-size: 1.2rem;
  margin-top: 1.666666666666667em;
  margin-bottom: 1.666666666666667em;

  a {
    text-decoration: none;
    color: $colorDefault;
  }

  ul,
  li {
    letter-spacing: -0.4em;
    display: inline;
  }

  li {
    &:first-child::before {
      display: none;
    }

    &::before {
      content: "\03e";
      letter-spacing: 0.04em;
      padding: 0 0.4em;
    }
  }

  span {
    letter-spacing: 0.04em;
  }
}
